{% extends 'app/base.html' %}


{% block content %}
<h2 class="my-4">{{post_data.title}}</h2>
<p>{{post_data.category}}</p>
<hr>
<p>{{ post_data.created }} by {{ post_data.author }}</p>
<hr>
{% if post_data.image %}
    <img src={{ post_data.image.url }} alt="" class="rouded detail-img my-2">
{% endif %}
<p>{{ post_data.content|linebreaksbr }}</p>
    
{% if user.is_authenticated %}
<hr>
<div class="d-flex mb-5">
    <a href={% url "post_edit" post_data.id %} class="btn btn-success me-3">編集する</a>
    <a href={% url "post_delete" post_data.id %} class="btn btn-danger me-3">削除する</a>
</div>
{% endif %}

{% endblock content %}